h3 {
    margin: 0.3em;
}

.contact-added {
    color: darkgreen;
    font-size: 1.4rem;
    margin: 0.5em 0;
    padding: 0.4em;
    border: 1px solid darkgreen;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}