h3 {
    margin: 0.3em;
}

.message {
    font-size: 1.4rem;
    margin: 0.5em 0;
    padding: 0.4em;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}

.contact-added {
    border: 1px solid darkgreen;
    color: darkgreen;
   
}

.error-message {
    color: red;
    border: 1px solid red;
  
}